<mat-card>
  <h2>Register</h2>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput name="email" [(ngModel)]="email" required>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Mobile</mat-label>
    <input matInput name="mobile" [(ngModel)]="mobile">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" name="password" [(ngModel)]="password" required>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="register()">
    Register
  </button>
</mat-card>