<h2 class="title">Products</h2>

<div class="product-grid">
  <mat-card class="product-card" *ngFor="let p of products">

<img 
  [src]="'https://localhost:7228' + p.imageUrl"
  alt="product"
  width="200"
  height="200"
  style="object-fit: cover; border-radius: 10px;">

    <mat-card-content>  
      <h3>{{ p.name }}</h3>
      <p class="price">₹ {{ p.price }}</p>
      <p>{{ p.description }}</p>
    </mat-card-content>

    <mat-card-actions>

      <!-- USER -->
      <button mat-raised-button color="primary" (click)="addToCart(p)">
        Add to Cart
      </button>

      <!-- ADMIN ONLY -->
      <button *ngIf="isAdmin()" 
              mat-button color="warn" 
              (click)="delete(p.id!)">
        Delete
      </button>

    </mat-card-actions>

  </mat-card>
</div>